.custom-navbar {
    background-color: #000000; /* Black Navbar */
}

.green-text {
    color: #46dc69 !important; /* Bootstrap Green */
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    color: #ffffff !important; /* White Links */
    font-weight: 500;
}

.nav-link:hover, .nav-link.active {
    color: #50f777 !important; /* Green on Hover/Active */
}

.btn-link {
    padding: 0;
}