.register-page,.login-page {
    background: linear-gradient(-45deg, #46dc69, #0d6efd, #00c3ff, #6e00ff);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}